body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home {
    background-image: url('../../images/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
        display: flex;
    }
    &__span {
        width: 700px;
    }
}