body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.home {
    background-image: url('../../images/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__logodiv {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 50px 0px 50px;
    }
    &__span {
        width: 50%;
        color: rgba(128, 128, 128, 0.663);
    }
    &__logo {
        object-fit: contain;
    }
}