@import "../../variables.scss";

.crew {
  background-image: url("../../data/assets/crew/background-crew-desktop.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;


  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    height: 100%;
    // margin: 0px 100px 0px 100px;
    justify-content: center;
    padding: 4.3rem 5rem 0rem 5rem;
    gap: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-primary;
    display: flex;
    gap: 1rem;
    font-size: 25px;
    letter-spacing: 5px;

  }

  &__number {
    color: rgba(128, 128, 128, 0.482);
    font-weight: 900;
  }

  &__meet {
    color: $color-secondary;
  }

  &__role {
    font-family: $font-secondary;
    color: gray;
    font-size: 28px;
  }

  &__name {
    margin-top: 20px;
    font-family: $font-secondary;
    color: $color-secondary;
    font-size: 40px;
  }

  &__bio {
    font-family: Barlow;
    color: $color-primary;
    font-size: 18px;
    line-height: 2rem;
  }

  &__ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style: none;
  }

  button {
    background: none;
    color: gray;
    cursor: pointer;
    border: none;
  }

  &__image img {
    width: auto;
    height: auto;
  }
}

.white {
  color: $color-primary !important;
}
@media screen and (max-width: 850px) {
  .crew {
    background-image: url("../../data/assets/crew/background-crew-tablet.jpg");

    &__container {
      display: flex;
      flex-direction: column;
      margin: 0px;
      align-items: center;
    }

    &__info {
      display: flex;
      margin-top: 20px;
    }

    &__title {
      text-align: left;
    }

    &__role {
      text-align: center;
    }

    &__name {
      text-align: center;
    }

    &__bio {
      text-align: center;
    }
  }

  .crew__ul {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .crew {
    background-image: url("../../data/assets/crew/background-crew-mobile.jpg");

    &__container {
      display: flex;
      flex-direction: column-reverse;
      margin: 0px;
      align-items: center;
      padding: 0rem 0rem 0rem 0rem;
    }

    &__title {
      order: 2;
      font-size: 18px;
      letter-spacing: 3px;
      text-align: center;
      justify-content: center;
    }

    .crew__image {

      display: flex;
      justify-content: center;

      img {
        width: 50%;
        height: 50%;
      }
    }

    .crew__ul {
      order: 1;
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 25px;
    }

    .crew__info {
      order: 3;
      display: flex;
      margin-top: 20px;
      gap: 10px;
    }

    &__role {
      text-align: center;
      font-size: 18px;
    }

    &__name {
      text-align: center;
      font-size: 20px;
    }

    &__bio {
      text-align: center;
      font-size: 15px;
      line-height: 1.5rem;
    }
  }
}

button {
  width: 3px;
  height: 3px;

}