@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

.navbar {
    display: flex;
    gap: 2rem;
    background-color: rgba(60, 60, 62, 0.329);
    width: 100%;

    
    &__item{
        list-style: none;
        color: #ffffff;
        font-family: 'Barlow Condensed';
        letter-spacing: 2.5px;
        margin: 30px 0px 30px 0px;
        cursor: pointer;
    }
}