@import '../../variables.scss';


.technology {
  background-image: url("../../data/assets/technology/background-technology-desktop.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    height: 100%;
    margin: 0px 100px 0px 100px;
    justify-content: space-between;
    padding: 4.3rem 5rem 0rem 5rem;
  }

  &__left {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__all {
    display: flex;
    margin-top: 100px;
    gap: 5rem;
  }

  &__title {
    font-family: $font-primary;
    display: flex;
    gap: 1rem;
    font-size: 28px;
    letter-spacing: 5px;
  }

  &__number {
    color: rgba(128, 128, 128, 0.482);
    font-weight: 900;
  }

  &__space {
    color: $color-secondary;
  }

  &__info {
    width: 460px;
  }

  &__span {
    font-family: $font-primary;
    color: $color-primary;
    font-size: 14px;
    letter-spacing: 2px;
  }

  &__name {
    margin: 0px 0px 0px 0px;
    font-family: $font-secondary;
    color: $color-secondary;
    font-size: 50px;
  }

  &__description {
    font-family: Barlow;
    color: $color-primary;
    font-size: 18px;
    line-height: 2rem;
  }

  &__image {
    width: 400px;
    height: 400px;
  }

  button {
    font-family: $font-secondary;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
  }

  button:hover {
    background-color: #ffffff;
    color: #000000;
  }

}