@import "../../variables.scss";

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    backdrop-filter: blur(40.7742px);
    background-color: rgba(255, 255, 255, 0.04);
    z-index: 999;
    transition: right 0.3s ease;

    &.open {
        right: 0;
    }

    &__close {
        cursor: pointer;
        text-align: right;
        padding: 10px;
    }

    &__list {
        padding: 60px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-decoration: none;
        margin-top: 40px;
    }

    &__item {
        color: $color-secondary;
        text-decoration: none;
        font-size: 18px;
        font-family: $font-primary;
        cursor: pointer;
    }

    &__number {
        font-weight: bolder;
        margin: 10px;
    }

    &.active {
        font-weight: bold;
    }

    .sidebar__close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 30px;


        img {
            width: 20px;
            height: 20px;
        }
    }
}