$color-primary: #D0D6F9;
$color-secondary: #ffffff;
$color-opacity: rgba(128, 128, 128, 0.482);
$font-primary: 'Barlow Condensed';
$font-secondary: 'Bellefair';

.active {
    text-decoration: underline;
  }

